.roleDetail {
  position: relative;
  .header {
    position: relative;
    width: 100vw;
    .skinGroup {
      position: absolute;
      bottom: 200px;
      left: 150px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      .buttons {
        margin: 5px;
      }
    }
    .header_bg {
      width: 100%;
      height: 800px;
    }
    .left {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 50px;
      left: 50px;
      z-index: 1;
      .ssl {
        width: 100px;
        z-index: 1;
      }
      .name {
        position: relative;
        color: white;
        .img {
          width: 80px;
        }
        .text {
          position: absolute;
          top: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          font-size: 40px;
          .level {
            font-weight: 900;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
          }
          .names {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .yys {
      position: absolute;
      right: 50px;
      top: 50px;
      width: 100px;
      z-index: 1;
    }
    .role {
      position: absolute;
      top: 0;
      width: 90%;
      right: 0;
      z-index: 0;
    }
    .awake {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 100px;
      bottom: 100px;
      z-index: 2;
      .chushi {
        margin-right: 30px;
        .img {
          width: 100px;
        }
      }
      .juexing {
        margin-right: 30px;
        .img {
          width: 100px;
        }
      }
      .skin {
        .img {
          width: 100px;
        }
      }
    }
  }
  .detail {
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    .title {
      color: sienna;
      border-bottom: 2px sienna solid;
      margin-bottom: 20px;
    }
    .biography {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      .border {
        width: 100%;
        border: solid 6px #000;
        padding: 7px;
        box-sizing: border-box;
        .content {
          width: 100%;
          border: solid 2px #000;
          padding: 20px;
          box-sizing: border-box;
          .contentName {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            height: 40px;
            border-bottom: 4px #bb391c solid;
            .img {
              width: 30px;
            }
            .text {
              padding-left: 20px;
              font-size: 24px;
              font-weight: 800;
              color: #bb391c;
            }
          }
          .contentDetail {
            padding: 30px 0;
            .contentDetailItem {
              padding: 20px;
              .zhuanjiTitle {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 26px;
                font-weight: 700;
                color: #bb391c;
                padding: 10prx 0;
              }
              .zhuanjiContext {
                font-size: 24px;
                border-bottom: 1px dashed darkgray;
              }
            }
          }
        }
      }
    }
    .intelligence {
      padding: 30px 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      position: relative;
      .detailHead {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 30px;
        width: 100%;
        border: 1px solid #000;
        position: relative;
        .level {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          position: absolute;
          left: 20px;
          top: 20px;
          .sslevel {
            position: relative;
            .levelTip {
              position: absolute;
              font-size: 18px;
              color: darkgray;
              left: 0;
              word-wrap: none;
              white-space: nowrap;
            }
          }
          .ssStar {
            margin-left: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            .ssStarImg {
              width: 20px;
            }
          }
          .levelModal {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            .levelModalBtn {
              flex: 1 0 auto;
              margin: 5px;
            }
          }
        }
        .head {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          padding: 20px;
          margin-top: -80px;
          .noAwake {
            padding: 10px;
            margin-right: 50px;
            border: 5px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightgray;
            .noAwakeHead {
              width: 100px;
            }
          }
          .awake {
            padding: 10px;
            margin-right: 50px;
            border: 5px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightgray;
            .awakeHead {
              width: 100px;
            }
          }
        }
        .attr {
          width: 100%;
        }
      }
    }
    .skill {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      .metarial {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }
    }
    .recommend {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin: 30px 0;
      .yuhunAttrIcon {
        background: url('https://mp-yys-1255362963.cos.ap-chengdu.myqcloud.com/yuhun_icon/yuhun_icon.png');
        background-size: auto 1rem;
        background-repeat: no-repeat;
        width: 1.3rem;
        height: 1rem;
      }
      .mainAttr2 {
        background-position-x: -1rem;
      }
      .mainAttr4 {
        background-position-x: -3.3rem;
      }
      .mainAttr6 {
        background-position-x: -5.75rem;
      }
    }
    .zhenrong {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin: 30px 0;
    }
  }
}
