.RewardForSeal {
  padding: 0 30rpx;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  .header {
    height: 300rpx;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
      max-width: 80%;
    }
  }
  .body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    .input-box {
      width: 80%;
      height: 75rpx;
      border: 1px solid #000;
      border-radius: 10rpx;
      font-size: 28rpx;
      padding: 10rpx 20rpx;
    }
    .seek-btn {
      border: 1px solid #000;
      border-radius: 20rpx;
      width: 180rpx;
      height: 77rpx;
      overflow: hidden;
      .img {
        height: 77rpx;
        width: 180rpx;
        background-size: 100% 100%;
      }
    }
  }
  .find {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 26rpx;
    width: 100%;
    padding: 30rpx 0;
    .tip {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .list {
      width: 100%;
      height: 90rpx;
      border: 1rpx solid #000;
      border-radius: 20rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 30rpx;
    }
  }
}